header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #000;
  height: 200px;
  color: #fff;
  @media @medium {
    background-color: transparent;
    flex-direction: row;
    justify-content: space-between;
    height: 17.75vw;
    padding-left: 4vw;
  }
  @media @large {
    height: 180px;
    padding-left: 50px;
  }

  img {
    height: 120px;
    width: auto;
    .img-shadow(@LG-RADIUS, @LG-RADIUS, @LG-COLOR);
    @media @medium {
      height: 12vw;
      filter: none;
    }
    @media @large {
      height: 140px;
    }
  }

  nav {
    width: 100%;
    @media @medium {
      width: 72%;
    }
    @media @large {
      width: 60%;
    }
    ul {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      list-style-type: none;
      li {
        &:first-child {
          text-decoration: underline;
          text-underline-offset: 10px;
        }
        a {
          color: inherit;
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
          text-decoration: none;
          text-transform: uppercase;
          .text-shadow(white, 1px);
          transition: 0.4s;
          @media @medium {
            text-shadow: none;
          }
          &:hover {
            color: rgb(144, 211, 36);
            @media @medium {
              color: rgb(175, 255, 47);
            }
            @media @large {
              color: rgb(61, 194, 27);
              .text-shadow(#000, 1px, 1px);
            }
          }
        }
      }
    }
  }
}
