main {
  .background {
    margin-top: 200px;
    position: absolute;
    top: 0;
    z-index: -1;
    background-color: #000;
    background-image: @BG-GARDEN;
    background-size: 100%;
    background-position: top right;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 44.36%;
    @media @medium {
      margin-top: 0;
      background-image: linear-gradient(#000, transparent), @BG-GARDEN;
      background-size: 100% 80%, 100%;
    }
    @media @large {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), @BG-GARDEN;
      background-size: 60% 100%, 100%;
    }
  }

  .banner {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    font-family: "Lexend Deca", Arial;
    margin: 25px auto;
    width: calc(40% + 170px);
    text-align: center;
    @media @medium {
      flex-direction: row-reverse;
      margin-top: 0;
      width: 90%;
    }
    @media @large {
      flex-direction: row;
      justify-content: space-between;
    }
    img {
      width: 100%;
      .img-shadow(@BN-RADIUS, ~"", @BN-COLOR);
      @media @medium {
        width: 40%;
        margin-right: 3%;
      }
      @media @large {
        width: 55%;
        transition: 1s;
        margin-right: 0;
        .img-shadow(@BN-RADIUS, ~"", @BN-COLOR);
        filter+_: brightness(0.9);
        &:hover {
          transform: scale(1.01);
        }
      }
    }
    section {
      @media @large {
        width: 36%;
        text-align: left;
      }
      h1 {
        font-size: 24px;
        font-weight: bold;
        color: rgb(11, 83, 11);
        .text-shadow(white, 5px);
        .text-shadow(rgb(148, 167, 148), ~"", 1.5px);
        @media @medium {
          color: rgb(220, 252, 220);
          font-size: 16px;
          .text-shadow(black, ~"", 1px);
        }
        @media @large {
          font-size: 32px;
          .text-shadow(black, 5px);
          .text-shadow(black, ~"", 2.5px);
        }
      }
      p {
        font-size: 16px;
        color: rgb(156, 187, 156);
        margin: 10px auto;
        .text-shadow(rgb(11, 83, 11), 0.5px);
        @media @medium {
          color: white;
          font-size: 14px;
          .text-shadow(black, 5px);
          .text-shadow(black, ~"", 1px);
          margin: 15px auto;
        }
        @media @large {
          font-size: 16px;
          .text-shadow(black, 5px);
          .text-shadow(black, ~"", 1.5px);
        }
      }
      button {
        display: inline-block;
        font: inherit;
        width: 90%;
        height: 50px;
        background-color: @BN-BTN-COLOR;
        color: white;
        border: @BN-BTN-COLOR 1px solid;
        border-radius: 10px;
        margin-top: 10px;
        cursor: pointer;
        transition: 0.5s;
        @media @medium {
          margin-top: 0;
          font-size: 12px;
          height: 40px;
          box-shadow: 2px 2px 5px black;
        }
        @media @large {
          font-size: 16px;
          margin-top: 3px;
          width: 50%;
          height: 50px;
        }

        &:hover {
          background-color: rgb(0, 170, 0);
          border: rgb(0, 170, 0) 1px solid;
        }
        &:focus {
          animation: learnMore 2.5s;
          @keyframes learnMore {
            20% {
              background-color: white;
              color: @BN-BTN-COLOR;
            }
            90% {
              background-color: white;
              color: @BN-BTN-COLOR;
            }
          }
        }
      }
    }
  }

  .forum {
    font-family: "Nunito";
    margin-top: 80px;
    margin-bottom: 30px;
    @media @medium {
      margin-top: 70px;
    }
    @media @large {
      margin-top: calc(15vw - 160px);
    }
    h2 {
      color: rgb(150, 150, 150);
      font-size: 22px;
      font-weight: lighter;
      margin-inline: 20px;
      @media @medium {
        color: rgb(120, 120, 120);
        margin-inline: 24px;
      }
      @media @large {
        margin-inline: 50px;
      }
    }
    .posts {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      border-top: 1px solid rgb(150, 150, 150);
      padding-top: 20px;
      margin-inline: 20px;
      @media @medium {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 24px;
        margin-inline: 24px;
      }
      @media @large {
        gap: 45px;
        margin-inline: 50px;
      }
      article {
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        @media @medium {
          width: calc(50% - 12px);
          height: calc(345px + 10vw);
        }
        @media @large {
          width: calc(33.33% - 30px);
          height: calc(10vw + 280px);
        }
        img {
          border-radius: 10px 10px 0 0;
          width: 100%;
          height: auto;
        }
        .description {
          padding: 11px;
          h3 {
            font-family: "IBM Plex Serif";
            line-height: 25px;
            margin-bottom: 6px;
          }
          p {
            font-size: 15px;
          }
        }
      }
    }
  }
}
