@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --LG-RADIUS: 0.5px;
  --LG-COLOR: green;
  --BN-RADIUS: 1px;
  --BN-COLOR: white;
  --BN-BTN-COLOR: rgb(0, 150, 0);
}

body {
  background-image: linear-gradient(rgb(193, 224, 210), #fff);
  background-size: 100% 20vw;
  background-repeat: no-repeat;
  background-position-y: calc(200px + 44.36vw);
  min-height: 100vh;
}

.background {
  margin-top: 200px;
  position: absolute;
  top: 0px;
  z-index: -1;
  background-color: #000;
  background-image: url(assets/bg-garden.jpg);
  background-size: 100%;
  background-position: top right;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 44.36%;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #000;
  height: 200px;
  color: #fff;
}

header img {
  height: 120px;
  width: auto;
  filter: drop-shadow(var(--LG-RADIUS) var(--LG-RADIUS) var(--LG-RADIUS) var(--LG-COLOR))
    drop-shadow(calc(var(--LG-RADIUS) * -1) calc(var(--LG-RADIUS) * -1) var(--LG-RADIUS) var(--LG-COLOR))
    drop-shadow(calc(var(--LG-RADIUS) * -1) var(--LG-RADIUS) var(--LG-RADIUS) var(--LG-COLOR))
    drop-shadow(var(--LG-RADIUS) calc(var(--LG-RADIUS) * -1) var(--LG-RADIUS) var(--LG-COLOR));
}

nav {
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style-type: none;
}

nav li:first-child {
  text-decoration: underline;
  text-underline-offset: 10px;
}

nav a {
  text-decoration: none;
  color: inherit;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  transition: 0.4s;
}

nav a:hover {
  color: rgb(175, 255, 47);
}

.banner {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  font-family: "Lexend Deca", Arial;
  margin: 25px auto;
  width: 90%;
  text-align: center;
}

.banner img {
  width: 100%;
  filter: drop-shadow(var(--BN-RADIUS) var(--BN-RADIUS) var(--BN-COLOR))
    drop-shadow(calc(var(--BN-RADIUS) * -1) calc(var(--BN-RADIUS) * -1) var(--BN-COLOR))
    drop-shadow(calc(var(--BN-RADIUS) * -1) var(--BN-RADIUS) var(--BN-COLOR))
    drop-shadow(var(--BN-RADIUS) calc(var(--BN-RADIUS) * -1) var(--BN-COLOR));
}

.banner h2 {
  font-size: 24px;
  font-weight: bold;
  color: rgb(0, 60, 0);
}

.banner p {
  font-size: 16px;
  color: rgb(148, 167, 148);
  margin: 10px auto;
}

.banner button {
  display: inline-block;
  font: inherit;
  width: 90%;
  height: 50px;
  background-color: var(--BN-BTN-COLOR);
  color: white;
  border: var(--BN-BTN-COLOR) 1px solid;
  border-radius: 10px;
  margin-top: 10px;
  transition: 0.5s;
}

.banner button:hover {
  background-color: rgb(0, 170, 0);
  border: rgb(0, 170, 0) 1px solid;
}

.banner button:focus {
  animation: learnMore 2.5s;
}

@keyframes learnMore {
  20% {
    background-color: white;
    color: var(--BN-BTN-COLOR);
  }
  90% {
    background-color: white;
    color: var(--BN-BTN-COLOR);
  }
}

@media screen and (min-width: 500px) {
  body {
    background-position-y: calc(44.36vw - 1%);
  }

  .background {
    margin-top: 0;
    background-image: linear-gradient(#000, transparent), url(assets/bg-garden.jpg);
    background-size: 100% 80%, 100%;
  }

  header {
    background-color: transparent;
    flex-direction: row;
    justify-content: space-between;
    height: 17.75vw;
  }

  header img {
    margin-left: 4vw;
    height: 14vw;
    filter: none;
  }

  nav {
    width: 72%;
  }

  .banner {
    flex-direction: row-reverse;
    margin-top: 0;
  }

  .banner img {
    width: 40%;
    margin-right: 3%;
  }

  .banner h2 {
    color: rgb(220, 252, 220);
    font-size: 16px;
  }

  .banner p {
    color: white;
    font-size: 14px;
    text-shadow: 0px 0px 2.5px black;
    margin: 15px auto;
  }

  .banner button {
    margin-top: 0;
    font-size: 12px;
    height: 40px;
  }
}

@media screen and (min-width: 980px) {
  .background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/bg-garden.jpg);
    background-size: 60% 100%, 100%;
  }

  header {
    height: 180px;
  }

  header img {
    margin-left: 40px;
    height: 140px;
  }

  nav {
    width: 60%;
  }
}
